.containerServices {
  background-color: #11998e;
  padding-bottom: 40px;
}

.containerServicesTitle {
  padding-top: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
}

.containerCardsServices {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cardServices {
  background-color: #ffffff;
  border-radius: 30px;
  width: 260px;
  height: 393px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cardServices img {
  width: 180px;
  height: 170px;
  margin-top: 20px;
}

.cardServices p {
  font-size: 18px;
  text-align: center;
}

.cardServices button {
  background-color: #11998e;
  color: #ffffff;
  font-size: 24px;
  width: 217px;
  height: 52px;
  margin-bottom: 20px;
  border-radius: 30px;
  border: none;
}
