header {
  background-color: #11998e;
}

header nav#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1240px;
  margin: 0 auto;
  padding: 0 2rem;
  height: 90px;
}

header nav#navbar .nav-brand {
  display: flex;
  align-items: center;

  gap: 1rem;
}

header nav#navbar .nav-brand h1 {
  font-family: 'Greanze', serif;
  font-weight: 400;
  font-size: 2rem;
}

header nav#navbar ul.nav-list {
  display: flex;
  align-items: center;

  list-style: none;
  gap: 1rem;
}

header nav#navbar ul.nav-list li a {
  color: #ffffff;
  /* font-size: 1.1rem; */
  font-size: 22px;
  transition: color 0.3s;
}

header nav#navbar ul.nav-list li a:hover {
  color: #ccc;
  transition: color 0.3s;
}

img {
  width: 300px;
  height: 250px;
}
